.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: rgb(241, 241, 241);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  padding: 70px;
}

.decorate {
  text-decoration: none;
  font-size: large;
}
.nav-item a {
  font-size: 1.4 rem;
  text-transform: capitalize;
  color: rosybrown;
}

.bg-white {
  background: rgb(238, 236, 236);
}

.bg-img {
  background-image: 'url(${logo})';
}
.box{

  background-color:rgba(114, 177, 228, 0.931) ;
  height: 300px;
  
}